<html>
<head>
    <title></title>
</head>
<body>
<form action="/madlib">
    <p>Please choose a specific person: </p>
    <div>
<!--     <textarea name="madlibPerson">
    </textarea> -->
    <p>
    </p>
    <input type="text" name="madlibPerson">
        <input type="checkbox" name="color" value="orange">Fire
        <input type="checkbox" name="color" value="blue">Blueberry
        <input type="checkbox" name="color" value="white">Sunlight
        <input type="checkbox" name="color" value="brown">Muddy Puddle
        <input type="checkbox" name="color" value="light blue">Clear Sky
        <input type="checkbox" name="color" value="violet">Merlot
        <input type="checkbox" name="color" value="yellow">Daffodil
    <p>Please choose a noun: </p>
    <div>
    <textarea name="madlibNoun">
    </textarea>
    <p>Please choose a adjective: </p>
    <div>
    <textarea name="madlibAdjective">
    </textarea>
    <p>
    <input type=submit>
</p>
</form>
</body>
</html>